body{
    background-color: #eee;
}
thead {
    padding: 20px;
    color: #fff;
    margin-bottom: 10px;
}
tbody {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 3px;
}
.panel-prod{
    border: solid thin #eee;
    border-radius: 0 0 5px 5px;
}
img{
    border: solid thin #eee;
    border-radius: 5px 5px 0 0;    
}
.single-panel{
    border: solid thin #eee;
    border-radius: 5px;
    margin: 0 5px 0 5px;
}
input[type=text],input[type=email]{
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
}
input[type=button]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 17px;
    border: hidden;
    text-transform: capitalize;
    background-color: #00BFEA;
    color: #fff;
}